version: "3"
services:
    web:
        image: epickiwi/epickiwi-web
        networks:
            - traefik-net
        volume:
            - type: bind
              source: /home/epickiwi/web-content
              target: /content
        deploy:
            labels:
                traefik.enable: "true"
                traefik.http.services.epickiwi-web.loadbalancer.server.port: "80"

                traefik.http.routers.epickiwi-web.entrypoints: web-secure
                traefik.http.routers.epickiwi-web.rule: "Host(`epickiwi.fr`)"
                traefik.http.routers.epickiwi-web.tls.certresolver: letsencrypt

                traefik.http.routers.epickiwi-web-insecure.entrypoints: web
                traefik.http.routers.epickiwi-web-insecure.rule: "Host(`epickiwi.fr`)"
                traefik.http.routers.epickiwi-web-insecure.middlewares: force-https@file

                traefik.http.routers.epickiwi-webmail.entrypoints: web-secure
                traefik.http.routers.epickiwi-webmail.rule: "Host(`mail.epickiwi.fr`)"
                traefik.http.routers.epickiwi-webmail.tls.certresolver: letsencrypt
                traefik.http.middlewares.epickiwi-webmail-redirect.redirectregex.regex: ^https://mail.epickiwi.fr/?(.*)
                traefik.http.middlewares.epickiwi-webmail-redirect.redirectregex.replacement: https://webmail.gandi.net/SOGo/$${1}
                traefik.http.routers.epickiwi-webmail.middlewares: epickiwi-webmail-redirect

                traefik.http.routers.epickiwi-webmail-insecure.entrypoints: web
                traefik.http.routers.epickiwi-webmail-insecure.rule: "Host(`mail.epickiwi.fr`)"
                traefik.http.routers.epickiwi-webmail-insecure.middlewares: force-https@file

networks:
    traefik-net:
        external: true
