version: 2
jobs:
  deploy:
    docker:
      - image: circleci/node
    steps:
      - checkout
      - run:
          name: Update npm
          command: "sudo npm install -g npm@latest exoframe"
      - run:
          name: Deploy to epickiwi.fr
          command: exoframe -u
workflows:
  version: 2
  deploy:
    jobs:
      - deploy
