body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-content {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body > * {
  margin: 10px 0;
}

.big-picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 105vh;
  z-index: -1;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.big-picture::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 50vh;
  background: linear-gradient(
    to bottom,
    rgba(36, 36, 36, 0) 0%,
    rgba(36, 36, 36, 1) 100%
  );
}

.big-picture img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logo {
  width: 300px;
  max-width: 90vw;

  overflow: hidden;
  border-radius: 100%;

  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.3), 3px 0 6px rgba(0, 0, 0, 0.3);

  margin: 20px 0;

  position: relative;
}

.logo::before {
  overflow: inherit;
  border-radius: inherit;
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  box-shadow: inset rgba(255, 255, 255, 0.26) 1px 1px 1px,
    inset rgba(0, 0, 0, 0.7) -1px -1px 2px;
}

.logo .logo-img {
  display: block;
  width: 100%;
}

.main-title {
  font-family: var(--body-font-stack);
  font-size: 40px;
  font-weight: lighter;
  margin-top: 75px;
}

.main-title .domain {
  color: #9c9c9c;
  font-size: 25px;
}

.motto {
  font-size: 30px;
  font-weight: lighter;
}

.footlinks {
  width: 80%;
}

.footlinks a {
  color: #666;
}

.footlinks a:hover {
  text-decoration: underline;
}

.footlinks ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footlinks ul > * {
  margin: 0 20px;
}

.footlinks li {
  list-style: none;
}

.blog {
  width: 100%;
  padding: 20px;
  max-width: 1040px;
  margin: auto;
}

.hybrid-section {
  display: flex;
  margin-top: 75px;
}

.hybrid-section .blog-follow {
  flex: 1;
}

.hybrid-section .misc-links {
  width: 300px;
  margin-left: 75px;
}

.misc-links.alone {
  margin-left: 0;
}

.misc-links .misc-section {
  width: 100%;
  margin-bottom: 20px;
}

.quicklinks {
  background: rgba(255, 255, 255, 0.03);
  list-style: none;
  padding: 20px;
  border-radius: 10px;
}

.quicklinks li {
  margin-bottom: 10px;
  display: block;
}

.quicklinks li a {
  padding: 15px;
  border-radius: 10px;
  display: block;
}

.quicklinks li a:hover {
  background: rgba(255, 255, 255, 0.03);
}

.quicklinks li:last-child {
  margin-bottom: 0;
}

.quicklinks ek-icon {
  margin-right: 8px;
}

.contacts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contacts > * {
  margin: 10px;
}

@media screen and (max-width: 1050px) {
  .hybrid-section {
    flex-direction: column;
  }

  .hybrid-section .misc-links {
    order: -1;
    margin-left: auto;
    margin-right: auto;
  }
}