:root,
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--body-font-stack);
}

a {
	text-decoration: inherit;
	color: inherit;
}

body {
	min-height: 100vh;

	background: var(--background-color);
	color: var(--text-color);
}

svg,
svg > * {
	fill: currentColor;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
}

h1,
h2,
h3 {
	font-family: var(--title-font-stack);
}
