<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	  <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>

    <link rel="icon" href="/img/icon.png" type="image/png">

    <style>
        a {
            color: inherit;
        }
    </style>
	  
    {{ template "_internal/opengraph.html" . }}

    {{ range .AlternativeOutputFormats -}}
        {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}

    <!-- PAGE CSS START -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700&display=swap" rel="stylesheet"/> <!-- TODO Replace with selfhosted -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400"
      rel="stylesheet"
    /> <!-- TODO Replace with selfhosted -->
    <link rel="stylesheet" href="/css/libs/normalize.css" />
    <link rel="stylesheet" href="/css/vars.css" />
    <link rel="stylesheet" href="/css/global.css" />
    {{ block "css" . }}{{ end }}
    <!-- PAGE CSS END -->

    <!-- PAGE JS START -->
    <script src="/js/components/icon.js" type="module" ></script>
    <script src="/js/components/map.js" type="module" ></script>
    <script src="/js/components/video.js" type="module" ></script>
    {{ block "js" . }}{{ end }}
    <!-- PAGE JS END -->

</head>
<body>

  {{ block "main" . }}
  {{ end }}

</body>
</html>