{{ define "css" }}
  <link rel="stylesheet" href="/css/page.css"/>
{{ end }}
{{ define "title" }}{{ .Title }} &ndash; {{ .Site.Title }}{{ end }}
{{ define "main" }}
<header class="page-heading">
	<a class="back" href="/" title="Aller à l'accueil"><ek-icon src="/img/icons/back.svg" ></ek-icon></a>

	<div class="page-cover">
		{{if isset .Params "cover"}}
		{{ with .Resources.GetMatch .Params.cover }}
			<img src="{{ (.Fit "1920x1920").RelPermalink }}"/>
		{{end}}
		{{end}}
	</div>

	<div class="page-header">
		<h1 class="page-title">{{.Title}}</h1>
		<ul class="page-metadata">
			
			{{ partial "taglist.html" . }}
			
			<span class="separator"></span>
			
			{{ if isset .Params "author" }}
				<li class="author">Par {{ .Params.author }}</li>
			{{ end }}
			{{ if eq .Section "articles" }}
				<li class="date">
					<ek-icon src="/img/icons/date.svg"></ek-icon> <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ partial "longdate.html" .Date }}</time>
				</li>
			{{ end }}
		</ul>
	</div>

</header>

<!-- Actual page content -->
<div class="page-content">{{.Content | safeHTML }}</div>

<footer class="page-footer">

	{{ if .PrevInSection }}
	<div class="next-page">
		{{ partial "article-card.html" .PrevInSection }}
	</div>

	{{ else if .NextInSection }}
	
	<div class="next-page">
		{{ partial "article-card.html" .NextInSection }}
	</div>

	{{ end }}

	<div class="license"><a href="https://creativecommons.org/licenses/by-nc/3.0/fr/">License Creative Common BY NC</a></div>

</footer>
{{ end }}