<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EpicKiwi</title>

    <meta property="og:title" content="EpicKiwi" />
    <meta property="og:type" content="profile" />
    <meta property="og:url" content="http://epickiwi.fr/" />
    <meta property="og:profile:username" content="EpicKiwi" />
    <meta
      property="og:image"
      content="http://epickiwi.fr/assets/img/logo.png"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/assets/css/reset.css" />
    <link rel="stylesheet" href="/assets/css/app.css" />
  </head>
  <body>
    <h1 class="main-title">EpicKiwi<span class="domain">.fr</span></h1>
    <div class="logo">
      <img src="/assets/img/logo.png" alt="logo" class="logo-img" />
    </div>
    <h2 class="motto">Je suis un melon jaune</h2>
  </body>
</html>
